<footer class="footer">
    <div class="container">
        <div class="row footer-container">
            <div class="footer-navigation">
                <h4 class="footer-list-title">Компания</h4>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a class="footer-link">О компании</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-link">Новости</a>
                    </li>
                </ul>
            </div>

            <div class="footer-navigation">
                <h4 class="footer-list-title">Организация</h4>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a class="footer-link">Инвесторам</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-link">Партнерам</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-link">Прессе</a>
                    </li>
                </ul>
            </div>

            <div class="footer-navigation">
                <h4 class="footer-list-title">Абонентам</h4>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a class="footer-link">Салоны связи</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-link">Карта покрытия</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-link">Контакты</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-link">Поддержка</a>
                    </li>
                </ul>
            </div>

            <div class="footer-navigation">
                <h4 class="footer-list-title">Скачать личный кабинет</h4>
                <ul class="footer-app-list">
                    <li class="footer-app-item">
                        <a class="footer-app-link">
                            <img alt="" src="../files/icon/market/apple.png">
                        </a>
                    </li>
                    <li class="footer-app-item">
                        <a class="footer-app-link"><img src="../files/icon/market/google.png"></a>
                    </li>
                </ul>
                <h4 class="footer-list-title">Мы в соцсетях</h4>
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a class="footer-social-link">
                            <img src="../files/icon/social/icon_vk.svg">
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a class="footer-social-link">
                            <img src="../files/icon/social/icon_classmates.svg">
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
  </footer>
</body>
</html>
