.footer {
  padding: 16px 0;
  background: $main_background;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-navigation {
    //flex: 0 0 100%;
  }

  &-list {
    list-style: none;

    &-title {
      margin: 0 0 4px 0;
      font-size: 16px;
      line-height: 1;
      color: $title_color;
    }

    &-item {
      font-size: 14px;
      line-height: 1;
    }
  }

  &-link {
    color: $text_color;
    text-decoration: none;
    cursor: pointer;
  }

  &-app {
    &-list {
      display: flex;
    }
    &-item {
      margin: 0 4px 4px 0;
      width: 150px;
    }
    &-link {
      display: block;
      width: 100%;
      cursor: pointer;

      & img {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  &-social {
    &-list {
      display: flex;
    }
    &-item {
      margin: 0 4px 4px 0;
      width: 16px;
    }
    &-link {
      display: block;
      width: 100%;
      margin: 0 8px 0 0;
      cursor: pointer;

      & img {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}
