.body_position {
  position: relative;
}

.header_position {
  position: fixed;
  padding: 24px 0 24px 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: $main_background;

  @media (max-width: $pc-big) {
  }

  @media (max-width: $small_tablet) {
    left: 0;
    padding-left: 50px;
  }

  @media (max-width: $phone) {
    padding-left: 0;
  }

  @media (max-height: 375px) {
  }

  @media (max-height: $phone) {
    margin-left: 0;
  }
}

.header_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $small_tablet) {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 25%;
  }

  @media (max-height: 767px) {
    height: 30%;
  }

  @media (max-width: $bg-tablet-height) {
    height: 40%;
  }

  @media (max-height: 568px) {
    height: 55%;
  }

  & .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 8px 0 0;
    height: fit-content;
    cursor: pointer;

    &:hover {

      & .nav-title {
        color: $text_color;
      }

      & .nav-list {
        display: block;
      }
      & .arrow-down {
        transform: rotate(180deg);
      }
    }
    &:focus {
      & .nav-list {
        display: block;
      }
      & .arrow-down {
        transform: rotate(180deg);
      }
    }

    &-group {
      display: flex;
    }

    &-title {
      display: flex;
      font-size: 14px;
      color: $title_color;
    }

    &-list {
      display: none;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      border-radius: 4px;
      overflow: hidden;
    }

    &-link {
      position: relative;
      display: flex;
      padding: 4px 0;
      font-size: 14px;
      color: $text_color;
      background: $main_background;

      &:before {
        position: absolute;
        content: '';
        display: block;
        top: 100%;
        width: 100%;
        height: 1px;
        opacity: 0.1;
        border: 0.5px solid $title_color;
        z-index: 2;
      }
    }
  }

  & .header_search {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 0 8px 0 0;
    border-radius: 8px;
    border: 1px solid $title_color;
    &-input {
      color: $title_color;
      &:focus {
        outline: none;
      }
    }
  }

  & .profile {
    display: flex;
    justify-content: space-between;

    &_join {
      color: $title_color;
    }
  }
}

.logo {

  &_link {
    font-size: 18px;
    color: $title_color;
  }
}
