// .welcome в файле feedback.scss
//  Hotel section
.room-catalog__title {
    font-size: 64px;
    font-weight: 600;
    @media (max-width: $pc-big)  {
        font-size: 58px;
    }
    @media (max-width: $tablet), (max-height: $tablet) {
        font-size: 50px;
    }
    @media (max-width: $small_tablet) {
        font-size: 46px;
    }
    @media (max-height: $phone), (max-width: $phone) {
        font-size: 27px;
    }
}
.room__photos {
    overflow: hidden;
    padding: 0;
    max-width: 49%;
    @media (max-width: $small_tablet) {
        padding: 0 15px;
        margin-top: 20px;
        max-width: unset;
    }
}
.room__item {
    padding-bottom: 40px;
    justify-content: space-between;
    @media (max-width: $small_tablet) {
        margin: 20px 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
}
.room-catalog {
    font-size: 32px;
    @media (max-width: $tablet) {
        font-size: 24px;
    }
    @media (max-width: $phone) {
        font-size: 24px;
    }
    & * {
        color: #141414;
    }
}
.room__zoom {
    position: absolute;
    top: 7%;
    right: $room_icon_x;
    &:hover path {
        fill: rgb(207, 207, 207);
        transition: 0.2s;
    }
}

.room__photo-list {
    display: flex;
    height: 100%;
    width: fit-content;
    transform: translateX(0);
    transition: $transition;
    & a {
        display: block;
        min-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        & img {
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
}
.room__photo {
    width: 100%;
    cursor: zoom-in;
    &:active {
        cursor: grabbing;
    }
}

.room__description {
    max-width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $small_tablet) {
        max-width: inherit;
    }
}
.room__title {
    font-weight: 600;
    font-size: 1em;
    @media (max-width: 789px) {
        font-size: 0.9em;
    }
}

.room__title-line {
    @media (max-width: $small_tablet) {
        display: block;
        margin-top: 10px;
        height: 2px;
        width: 100px;
        background-color: #003399;
    }
}

.room__size {
    margin-top: 1.1em;
    font-weight: 600;
    font-size: 0.56em;
    line-height: 1.1em;
}
.room__text {
    margin-top: 1em;
    font-weight: 600;
    font-size: 0.43em;
    line-height: 1.1em;
}
.room__advantage-list {
    margin-top: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.room__advantage-title {
    display: none;
}
.room__advantage {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 0.4rem;
    margin-right: 7px;
    max-width: 47%;

    & .room__text {
        margin: 0;
        margin-left: 10px;
    }
}

.room__ivent {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    @media (max-width: $tablet){
        justify-content: space-between;
    }
    @media (max-width: $small_tablet){
        justify-content: space-between;
    }
    & .room_price { // room_price есть в _room.scss, поэтому сделал класс более специфичным
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        font-size: 0.56em;
        font-weight: 600;
        & em {
            display: flex;
            justify-content: flex-end;
            margin: 0 5px;

            font-size: 1.77em;
            font-style: normal;
            line-height: 0.85;
        }
    }
}
.room__btn-booking{
    color: #FFFFFF;
    max-width: 215px;
    min-width: 213px;
    @media (max-width: $tablet) {
        margin-left: 0px;
        padding: 10px 10px;
        max-width: 180px;
        min-width: 150px;
    }
    @media (max-width: $small_tablet){
        margin-left: 10px;
    }
    &:hover {
        color: #FFFFFF;
        background: #115AED;
      }
}
///fancybox style

//owl courusel style

.owl-stage-outer {
    height: 100%;
}
.owl-stage {
    height: 100%;
    display: flex;
    align-items: center;
    @media (min-width: $phone ) {
        max-height: $room_photo_height;
    }

}
.owl-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img.room__photo {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            @media (min-width: $small_tablet){
                width: auto;
            }
        }
    }
}
.room__photo {
   // height: 100%;
}

.owl-carousel.owl-loaded {
    position: relative;
}
.owl-prev, .owl-next{
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    & span {
       color: white;
       font-size: 3em;
    }
    & svg {
        width: 20px;
        height: auto;

        box-sizing: content-box;
        padding: 50px 15px;
    }
    &:hover path {
        fill:#003399;
        transition: 0.2s;
    }
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
}
.owl-theme .owl-nav  {
   margin: 0;
}
.owl-prev {
    left: $room_icon_x;
}
.owl-next {
    right: calc(#{$room_icon_x} + 1%);
}
