<%= _.template(require('./template/_header.html'))(data) %>
<div class="header_block first-slide" style="background-image: url(./files/img/index/10_about_hotel_background.png)">
    <div class="header_block_wrap">
        <div class="container">
            <div class="about_hotel_block_title row text-color">
                <div class="about_hotel_title">
                    <div class="about_hotel_text">Об отеле</div>
                    <div class="about_hotel_title_block">
                        <h2 class="about_title">ALMIRA</h2>
                        <div class="about_hotel_img">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M27.927 10.7406C27.7437 10.1736 27.2408 9.77093 26.6459 9.71731L18.5643 8.98349L15.3686 1.50372C15.133 0.955545 14.5964 0.600708 14.0001 0.600708C13.4039 0.600708 12.8673 0.955545 12.6316 1.505L9.43597 8.98349L1.35312 9.71731C0.759232 9.77221 0.257633 10.1736 0.0732711 10.7406C-0.11109 11.3076 0.0591716 11.9294 0.508432 12.3214L6.61714 17.6788L4.81582 25.6136C4.68402 26.197 4.91046 26.8001 5.39454 27.15C5.65474 27.338 5.95917 27.4337 6.26615 27.4337C6.53084 27.4337 6.79339 27.3624 7.02902 27.2214L14.0001 23.055L20.9687 27.2214C21.4786 27.5282 22.1214 27.5002 22.6045 27.15C23.0888 26.799 23.315 26.1958 23.1832 25.6136L21.3819 17.6788L27.4906 12.3225C27.9398 11.9294 28.1114 11.3086 27.927 10.7406Z" fill="white"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="28" height="28" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M27.927 10.7406C27.7437 10.1736 27.2408 9.77093 26.6459 9.71731L18.5643 8.98349L15.3686 1.50372C15.133 0.955545 14.5964 0.600708 14.0001 0.600708C13.4039 0.600708 12.8673 0.955545 12.6316 1.505L9.43597 8.98349L1.35312 9.71731C0.759232 9.77221 0.257633 10.1736 0.0732711 10.7406C-0.11109 11.3076 0.0591716 11.9294 0.508432 12.3214L6.61714 17.6788L4.81582 25.6136C4.68402 26.197 4.91046 26.8001 5.39454 27.15C5.65474 27.338 5.95917 27.4337 6.26615 27.4337C6.53084 27.4337 6.79339 27.3624 7.02902 27.2214L14.0001 23.055L20.9687 27.2214C21.4786 27.5282 22.1214 27.5002 22.6045 27.15C23.0888 26.799 23.315 26.1958 23.1832 25.6136L21.3819 17.6788L27.4906 12.3225C27.9398 11.9294 28.1114 11.3086 27.927 10.7406Z" fill="white"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="28" height="28" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M27.927 10.7406C27.7437 10.1736 27.2408 9.77093 26.6459 9.71731L18.5643 8.98349L15.3686 1.50372C15.133 0.955545 14.5964 0.600708 14.0001 0.600708C13.4039 0.600708 12.8673 0.955545 12.6316 1.505L9.43597 8.98349L1.35312 9.71731C0.759232 9.77221 0.257633 10.1736 0.0732711 10.7406C-0.11109 11.3076 0.0591716 11.9294 0.508432 12.3214L6.61714 17.6788L4.81582 25.6136C4.68402 26.197 4.91046 26.8001 5.39454 27.15C5.65474 27.338 5.95917 27.4337 6.26615 27.4337C6.53084 27.4337 6.79339 27.3624 7.02902 27.2214L14.0001 23.055L20.9687 27.2214C21.4786 27.5282 22.1214 27.5002 22.6045 27.15C23.0888 26.799 23.315 26.1958 23.1832 25.6136L21.3819 17.6788L27.4906 12.3225C27.9398 11.9294 28.1114 11.3086 27.927 10.7406Z" fill="white"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="28" height="28" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <section>
        <div class="about_hotel">
            <div class="container">
                <div class="row">
                    <div class="about_hotel_block_height">
                        <div class="about--hotel--block">
                            <div class="info_block_title">
                                <span class="about_info_title"> Об Almira </span>
                                <br>
                                <span class="about_info_title"> garden hotel <img class="info_title_svg" src="../files/icon/social/icon_yellow-star.svg" alt="hotel-title"></span>
                                <div class="about_info_line"></div>
                            </div>
                            <div class="info_block_text">
                                <p class="about_info_paragraph">
                                    Отель «Алмира» расположен в Адлере, в 5 минутах ходьбы
                                    от черноморского пляжа. В распоряжении гостей сад.
                                    На территории доступен бесплатный Wi-Fi.
                                </p>
                                <p class="about_info_paragraph">
                                    При отеле работает ресторан. По запросу можно заказать упакованные ланчи.
                                </p>
                                <p class="about_info_paragraph">
                                    Расстояние от отеля «Альмира» до железнодорожного вокзала Адлера составляет 4,2 км, до международного аэропорта Сочи — 6 км.
                                </p>
                                <p class="about_info_paragraph">
                                    Парам особенно нравится расположение — они оценили проживание в этом районе для поездки вдвоем на 9,6.
                                </p>
                            </div>
                            <div class="about_info_block_buttons">
                                <a class="about_info_booking text-color" href="#">ЗАБРОНИРОВАТЬ НОМЕР</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 img_block_background main_block_height about_block_background ">
                <div class="img_block" style="background-image: url(./files/img/index/2_section_hotel-entry.png)"></div>
            </div>
            <!-- 
            <div class="about_hotel_block_height about_block_background" style="background-image: url(./files/img/index/2_section_hotel-entry.png)">
            </div>-->
        </div>
    </section>

    <section class="about_hotel_spacing">
        <div class="container">
            <div class="row">
                <div class="about_hotel_title_block_wrap">
                    <h1 class="main_about_hotel_title">Правила проживания</h1>
                    <div class="about_hotel_line"></div>
                </div>
                <div class="about_hotel_text_block">
                    <div class="hotel_text_block">
                        <p class="about_hotel_text_wrap">
                            1. Пансионат «Охотник» принимает гостей круглосуточно.
                        </p>
                        <p class="about_hotel_text_wrap">
                            2. Расчетный час в пансионате – 12:00 часов. Гарантированный заезд гостей начинается с 14часов 00 минут по местному времени дня заезда. Выезд гостей производится в 12 часов 00 минут по местному времени дня выезда.
                        </p>
                        <p class="about_hotel_text_wrap">
                            3. В случае отмены бронирования в период проживания удерживается штраф за 2 суток последующего проживания
                        </p>

                        <p class="about_hotel_text_wrap">
                            4. В случае отказа от заезда в дату заезда, гость (заказчик) оплачивает штраф за отказ от забронированного номера, в размере стоимости первых суток проживания, согласно Законодательству РФ
                        </p>

                        <p class="about_hotel_text_wrap">
                            5. Если гость заезжает менее чем на сутки (независимо от предполагаемых часов проживания), оплата берется по тарифу за полные сутки.
                        </p>

                        <p class="about_hotel_text_wrap">
                            6. В случае задержки выезда гостя после расчетного часа, плата за проживание взимается в следующем порядке:
                        </p>

                        <p class="about_hotel_text_list">
                            -  не более 6 часов после расчетного часа – почасовая оплата;
                        </p>

                        <p class="about_hotel_text_list">
                            -  от 6 до 12 часов после расчетного часа – плата за половину суток;
                        </p>

                        <p class="about_hotel_text_list">
                            -  от 12 до 24 часов после расчетного часа – плата за полные сутки.
                        </p>

                        <p class="about_hotel_text_wrap">
                            7. Продление проживания  возможно при наличии свободных номеров.
                        </p>

                        <p class="about_hotel_text_wrap">
                            8. Пансионат оказывает гостю дополнительные услуги за плату по его желанию в соответствии с перечнем и реестром цен на дополнительные услуги.
                        </p>

                        <p class="about_hotel_text_wrap">
                            9.  Пансионат обеспечивает проживающим следующие виды бесплатных услуг:
                        </p>

                        <p class="about_hotel_text_list">
                            - вызов «скорой помощи»;
                        </p>

                        <p class="about_hotel_text_list">
                            - пользование медицинской аптечкой;
                        </p>

                        <p class="about_hotel_text_list">
                            - вызов такси;
                        </p>

                        <p class="about_hotel_text_list">
                            - доставка в номер корреспонденции при ее  получении;
                        </p>

                        <p class="about_hotel_text_list">
                            - побудка к определенному времени;
                        </p>

                        <p class="about_hotel_text_list">
                            - Wi-Fi.
                        </p>

                        <p class="about_hotel_text_wrap">
                            10. Вход в отель  осуществляется строго по карточке гостя.
                        </p>

                        <p class="about_hotel_text_wrap">
                            11. Вход посетителей осуществляется по пропускам, оформленным у администратора пансионата ( на основании документа удостоверяющего личность) до 23:00. После 23:00 нахождение в номере гостей не допускается.
                        </p>
                        <p class="about_hotel_text_wrap">
                            12. Проживающие несут ответственность за действия посетителей, приглашенных к себе в номер.
                        </p>
                        <p class="about_hotel_text_wrap">
                            13. В случае утраты, повреждения или порчи имущества пансионата, гость обязан возместить ущерб. Оценка нанесенного ущерба производится на основании «Прейскуранта цен на порчу гостиничного имущества».
                        </p>

                        <p class="about_hotel_text_wrap">
                            14. Запрещается переставлять, выносить из номера мебель и постельные принадлежности, в том числе полотенца.
                        </p>

                        <p class="about_hotel_text_wrap">
                            15. Запрещается содержать в номере животных, птиц, и т.п.
                        </p>

                        <p class="about_hotel_text_wrap">
                            16. Запрещается хранить в номере легковоспламеняющиеся, взрывчатые, токсические, наркотические, химические и радиоактивные вещества, ртуть и громоздкие вещи.
                        </p>

                        <p class="about_hotel_text_wrap">
                            17. Запрещено курение в номерах и холлах пансионата. Курение разрешено в строго отведенных местах: возле входа в пансионат и на открытых балконах.
                        </p>

                        <p class="about_hotel_text_wrap">
                            18. Администрация пансионата оставляет за собой право посещения номера без согласования с гостем в случае задымления, пожара, затопления, а также в случае нарушения гостем настоящего порядка проживания, порядка пользования бытовыми приборами, общественного порядка.
                        </p>

                        <p class="about_hotel_text_wrap">
                            19. Администрация пансионата не несет ответственности за работу городских служб (аварийное отключение электрической и тепловой энергии, водоснабжения).
                        </p>

                        <p class="about_hotel_text_wrap">
                            20. В случае возникновения жалоб со стороны потребителя, администрация принимает все возможные меры для урегулирования конфликта, предусмотренные законодательством.
                        </p>

                        <p class="about_hotel_text_wrap">
                            21. Книга отзывов и предложений находится у дежурного администратора и выдается по первому требованию гостя (кроме лиц, находящихся в нетрезвом состоянии).
                        </p>

                        <p class="about_hotel_text_wrap">
                            22. В случаях, не предусмотренных настоящими правилами, администрация и потребитель руководствуются действующим законодательством РФ.
                        </p>
                    </div>
                    <div class="hotel_colored_text_block text-color">
                        <p class="hotel_colored_text">
                            Для получения прав на размещение гражданам Российской Федерации необходимо предъявить паспорт (или другой документ удостоверяющий личность) и поставить подпись в регистрационной карте гостя (форма № 5). Для размещения иностранным гражданам необходимо предъявить паспорт,  миграционную карту и поставить подпись в регистрационной карте гостя (форма № 5), согласно Законодательства РФ.
                        </p>

                        <p class="hotel_colored_text">
                            Гость должен ознакомиться с Правилами проживания в пансионате и Правилами противопожарной безопасности.
                        </p>

                        <p class="hotel_colored_text">
                            Подписав регистрационную карту гостя (форма № 5), гость подтверждает, что обязуется соблюдать все правила пансионата. Визитная карта гостя и электронный ключ от номера выдаются после полного расчета за проживание.
                        </p>

                        <p class="hotel_colored_text">
                            Правила проживания в пансионате разработаны на основе Закона РФ «О защите прав потребителей» и «Правил предоставления гостиничных услуг в Российской Федерации», утвержденных Постановлением Правительства РФ № 490 от 25.04.1997 года.
                        </p>

                        <p class="hotel_colored_text">
                            Для льготных категорий граждан предоставляются скидки на проживание в размере до 5% от стоимости номера.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main_feedback_spacing">
        <div class="container">
            <div class="main_feedback_block">
                <h3 class="main_about_hotel_title">Отзывы</h3>
                <div class="about_hotel_line"></div>
                <div class="main_feedback_block_wrap">
                    <div class="feedback_block_info">
                        <div class="info_block_wrap">
                            <div class="feed_info_block_title">
                                <div class="feed_info_title">16.10.18  Анна</div>
                                <div class="feedback_rating">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                </div>
                            </div>
                            <p class="feed_info_block_text">
                                Отдыхали в октябре 2018 года. Номер хороший. Уборка каждый день, смена полотенец тоже.
                                Кормили тоже не плохо. Спа центр очень порадовал. Близость к морю просто лучше не бывает.
                                Правда вида на море по утрам и вечерам не было но все равно было оч круто!!’
                            </p>
                        </div>
                        <div class="info_block_wrap">
                            <div class="feed_info_block_title">
                                <div class="feed_info_title">10.10.18  Группа ЯНОС из Ярославля</div>
                                <div class="feedback_rating">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                    </svg>
                                </div>
                            </div>
                            <p class="feed_info_block_text">
                                Выражаем благодарность горничной второго этажа Эрике за внимательное отношение к отдыхающим и порядок в номерах.
                                А так же благодарим Анастасию, которая нас расселяла, за отзывчивость и профессионализм.
                                Обязательно приедем к вам ещё не раз.
                            </p>
                        </div>
                        <div class="info_block_wrap">
                            <div class="feed_info_block_title">
                                <div class="feed_info_title">19.08.18  Вера и Наталия Георгиевна</div>
                                <div class="feedback_rating">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                    </svg>
                                </div>
                            </div>
                            <p class="feed_info_block_text">
                                Отдыхали в Адлере июль,август 2018г. Я ,женщина 43 лет,с мамой (72 Г.)
                                Я обратилась в центр "Идеал" с проблемой лишнего веса(ожирение 2 степени-рос 156 см,вес 103кг 400г)
                                с нарушением мозгового кровообращения, ХСН 1 степени. Первичный осмотр провёл
                                Мазманиди Михаил Георгиевич,он же ведущий специалист центра.
                                Назначили курс комплексного восстановительного лечения(массаж,биодинамическая и миофасциальная коррекция)
                                Результат:после 3 сеанса появилась подвижность в шейном отделе,ушла боль в области поясницы,
                                отпустило левую ногу,которая доставляла дискомфорт,была всегда тяжёлая ,в напряжении.
                                После 9 сеансов потеря веса составила 8 килограммов.Что совсем удивило,улучшилось зрение.
                                Во всём теле лёгкость и сила,хожу несколько километров,плаваю,хочется петь и танцевать.
                                За многие годы снова сплю на спине ,просто кайф.Энергия бьёт ключом.
                                О маме,женщина 72 года,инвалид 1 группы, диагноз Болезнь Паркинсона,
                                заболевание сопровождается тремором,скованностью ,ограничением в движении.На м
                            </p>
                        </div>
                        <div class="info_block_wrap">
                            <div class="feed_info_block_title">
                                <div class="feed_info_title">16.08.18  Светлана</div>
                                <div class="feedback_rating">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                    </svg>
                                </div>
                            </div>
                            <p class="feed_info_block_text">
                                Отдыхали в отеле с 10 по 17 августа 2018г. Я с сыном и дочерью.Огромное спасибо за наш отдых!!!
                                Прекрасный отель у самого берега моря,у нас был просторный чистый семейный номер на 3 этаже с видом на горы,
                                великолепный вид,большой балкон,уборка номера каждый день,горничные стараются,молодцы.ненавязчивые,
                                убирали когда нам было удобно,в номере есть все необходимое,даже набор посуды с чайником,
                                кондиционер работал исправно,теперь о кухне...Огромное спасибо поварам и всем работникам кафе,
                                кормили очень вкусно,у нас было все включено,питались 3 раза в день,мы любители мясных блюд,
                                их было в изобилии,каждый день разные,вкусные,мне есть с чем сравнивать,до этого много раз
                                бывали в Турции,но в Охотнике нас кормили намного вкуснее,персонал весь вежливый,трудятся на славу,
                                благодарю Вас за Ваш труд,вообще весь персонал отеля очень внимательный,компетентный,вежливый,
                                мы прилетели рано утром.а в 9 часов нам уже выдали ключи,администраторы молодцы,
                                отдельное спасибо Анастасие,дочери очень понравился СПА и
                            </p>
                        </div>
                        <div class="info_block_wrap">
                            <div class="feed_info_block_title">
                                <div class="feed_info_title">16.10.18  Анна</div>
                                <div class="feedback_rating">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87984 0.966736C9.72837 0.61434 9.38339 0.38623 9.00009 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869863 6.2469C0.488078 6.2822 0.165621 6.54024 0.0471028 6.90472C-0.0714153 7.26921 0.0380389 7.66898 0.326849 7.92099L4.25388 11.365L3.09589 16.466C3.01115 16.841 3.15673 17.2287 3.46792 17.4537C3.63519 17.5745 3.83089 17.636 4.02824 17.636C4.19839 17.636 4.36718 17.5902 4.51865 17.4995L9.00009 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#FFC107"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                    </svg>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                    </svg>
                                </div>
                            </div>
                            <p class="feed_info_block_text">
                                Отдыхали в октябре 2018 года. Номер хороший. Уборка каждый день, смена полотенец тоже.
                                Кормили тоже не плохо. Спа центр очень порадовал. Близость к морю просто лучше не бывает.
                                Правда вида на море по утрам и вечерам не было но все равно было оч круто!!’
                            </p>
                        </div>
                    </div>
                    <div class="feedback_leave_info">
                        <div class="leave_feed_wrap">
                            <h3 class="leave_feed_text">ОСТАВЬТЕ СВОЙ ОТЗЫВ</h3>
                            <p class="leave_feed_btn">
                                Уважаемые гости! Если Вам понравилось отдыхать в нашем отделе, просим Вас оставить отзыв
                                о полученных впечатлениях
                            </p>
                            <a class="feed_info_block_btn feed_info_block_btn_spacing"data-modal-target="#modal">Написать отзыв</a>
                            <div class="modal-entry" id="modal">
                                <div class="modal-success-message">
                                    <div class="modal-success-message-wrap success-message-spacing">
                                        <div class="message-title">Поздравляем!</div>
                                        <span class="message-text mess-text-spacing">Ваш отзыв успешно добавлен. После модерации он будет размещен на сайте</span>
                                        <button class="message-button" id="success-close-button">закрыть</button>
                                    </div>
                                </div>

                                <form class="modal-entry-form active">
                                    <div class="modal-entry-header">
                                        <span class="modal-entry-title">Оставить отзыв</span>
                                        <button type="button" class="close-modal-button" id="close-modal-button">&times;</button>
                                    </div>
                                    <div class="modal-feed-body">
                                        <div class="modal-feed-input">
                                            <input class="modal-input" type="text" placeholder="ФИО*">
                                            <input class="modal-input" placeholder="Email*">
                                        </div>
                                        <div class="modal-feedback-block modal-feedback-block_spacing">
                                            <textarea class="modal_textarea" placeholder="Введите отзыв*"></textarea>
                                        </div>
                                        <div class="modal-mark-block">
                                            <div class="modal-mark-title modal_mark_title_spacing">Ваша оценка</div>
                                            <div class="modal-mark-star" data-value = "1">
                                                <input type="hidden" name="rating" class="almira_rating" value="5">
                                                <svg class="modal-star-btn" data-value="1" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                                </svg>

                                                <svg class="modal-star-btn" data-value="2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                                </svg>
                                                <svg class="modal-star-btn" data-value="3" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                                </svg>
                                                <svg class="modal-star-btn" data-value="4" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                                </svg>

                                                <svg class="modal-star-btn" data-value="5" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.9531 6.90472C17.8353 6.54024 17.512 6.28137 17.1295 6.2469L11.9342 5.77516L9.87985 0.966736C9.72837 0.61434 9.38339 0.38623 9.0001 0.38623C8.6168 0.38623 8.27182 0.61434 8.12034 0.96756L6.06598 5.77516L0.869866 6.2469C0.488082 6.2822 0.165625 6.54024 0.0471066 6.90472C-0.0714114 7.26921 0.0380427 7.66898 0.326853 7.92099L4.25388 11.365L3.09589 16.466C3.01116 16.841 3.15673 17.2287 3.46793 17.4537C3.6352 17.5745 3.8309 17.636 4.02824 17.636C4.1984 17.636 4.36718 17.5902 4.51866 17.4995L9.0001 14.8211L13.4799 17.4995C13.8077 17.6967 14.2209 17.6787 14.5314 17.4537C14.8428 17.228 14.9882 16.8402 14.9035 16.466L13.7455 11.365L17.6725 7.92167C17.9613 7.66898 18.0716 7.26989 17.9531 6.90472Z" fill="#E5E5E5"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="modal-send-block">
                                            <a class="modal-send-text modal-send-text_spacing">Нажимая кнопку “Отправить отзыв”, я даю свое согласие на обработку моих персональных данных</a>
                                            <input class="modal-send-button text-color" type="submit" value="ОТПРАВИТЬ ОТЗЫВ">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="about-hotel-video">
                <div class="about-hotel-video_wrap about-hotel-video-mobile">
                    <iframe class="iframe_video_play" width="100%" height="100%" src="https://www.youtube.com/embed/ZvUBGN4KoP0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hotel_img" style=" background-image: url(./files/img/index/9_section_video_background-min.png)">
                        <img class="hotel_img_wrap" data-number="0" src="./files/icon/social/icon_video.svg" alt="Icons in main block">
                    </div>
                </div>
                <div class="about-hotel-video_wrap about-hotel-video-mobile">
                    <iframe class="iframe_video_play" width="100%" height="100%" src="https://www.youtube.com/embed/ZvUBGN4KoP0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hotel_img" style=" background-image: url(./files/img/index/9_section_video_background-min.png)">
                        <img class="hotel_img_wrap" data-number="0" src="./files/icon/social/icon_video.svg" alt="Icons in main block">
                    </div>
                </div>

                <div class="about-hotel-video_wrap about-hotel-video-mobile">
                    <iframe class="iframe_video_play" width="100%" height="100%" src="https://www.youtube.com/embed/ZvUBGN4KoP0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hotel_img" style=" background-image: url(./files/img/index/9_section_video_background-min.png)">
                        <img class="hotel_img_wrap" data-number="0" src="./files/icon/social/icon_video.svg" alt="Icons in main block">
                    </div>
                </div>
                <div class="about-hotel-video_wrap about-hotel-video-mobile">
                    <iframe class="iframe_video_play" width="100%" height="100%" src="https://www.youtube.com/embed/ZvUBGN4KoP0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="hotel_img" style=" background-image: url(./files/img/index/9_section_video_background-min.png)">
                        <img class="hotel_img_wrap" data-number="0" src="./files/icon/social/icon_video.svg" alt="Icons in main block">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>