<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <a class="breadcrumb-item" href="./index.html">Поддержка</a>
                <div class="breadcrumb-item">Заявки</div>
            </div>
        </div>
    </section>
    <section class="appeals" id="appeals">
        <div class="container">
            <table>
                <tr>
                    <th>Номер заявки</th>
                    <th>Комментарий</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                    <th>Дата закрытия</th>
                    <th>Решение</th>
                </tr>
                <tr>
                    <td>895769</td>
                    <td>С номера 79... </td>
                    <td>Зарегистрирована</td>
                    <td>05.06.2021</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>895745</td>
                    <td>Отсуствие связи</td>
                    <td>
                        <div>Завершена</div>
                        <div>
                            <a href="./appeals.html#/?id=123123">Оставить отзыв</a>
                        </div>
                    </td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894364</td>
                    <td>Отсуствие связи</td>
                    <td><div>Завершена</div>
                        <div>
                            <a href="./appeals.html#/?id=123123">Оставить отзыв</a>
                        </div></td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894363</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894362</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894361</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894360</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894359</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894358</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894357</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894356</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894355</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
                <tr>
                    <td>894354</td>
                    <td>Отсуствие связи</td>
                    <td>Завершена</td>
                    <td>15.04.2021</td>
                    <td>15.08.2021</td>
                    <td>Создание новой точки связи</td>
                </tr>
            </table>
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Следующая</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>
<section class="response" id="response">
</section>
<%= _.template(require('./template/_footer.html'))(data) %>
