<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <a class="breadcrumb-item" href="./index.html">Поддержка</a>
                <div class="breadcrumb-item">Форма обратной связи</div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class = "feedback-description">
            <p>
                Мы ответим вам в течение 24 часов.<br>
                Укажите все подробности, чтобы мы смогли быстрее вам ответить
            </p>
        </div>
        <div class="row" id="feedbackForm">
<!--            <form class="feedback">-->
<!--                <h4 class="feedback-title">Вопрос</h4>-->
<!--                <div class="feedback-container">-->
<!--                    <div class="feedback-item">-->
<!--                        <label class="feedback-label required">Фамилия</label>-->
<!--                        <input type="text" class="feedback-input" placeholder="Введите фамилию">-->
<!--                    </div>-->
<!--                    <div class="feedback-item">-->
<!--                        <label class="feedback-label required">Имя</label>-->
<!--                        <input type="text" class="feedback-input" placeholder="Введите имя">-->
<!--                    </div>-->
<!--                    <div class="feedback-item">-->
<!--                        <label class="feedback-label">Отчество</label>-->
<!--                        <input type="text" class="feedback-input" placeholder="Введите отчество">-->
<!--                    </div>-->
<!--                    <div class="feedback-item">-->
<!--                        <label class="feedback-label">Телефон</label>-->
<!--                        <input type="text" class="feedback-input" placeholder="Введите номер телефона">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="feedback-footer">-->
<!--                    <button type="button" class="feedback-arrow">Назад</button>-->
<!--                    <button type="button" class="feedback-arrow">Вперед</button>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </section>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
