<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <a class="breadcrumb-item" href="./index.html">Поддержка</a>
                <div class="breadcrumb-item">Полезная информация</div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div id="accordion">
                <h3 class="accordion">
                    <span>Как сменить тариф</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Узнать, какой у вас тариф и условия по нему, поменять тариф при необходимости можно в личном . Читайте нашу короткую инструкцию.
                    </p>
                </div>
                <h3>
                    <span>Смена владельца</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Требуется сменить владельца номера мобильного телефона?

Воспользуйтесь услугой «Смена владельца»!

Для переоформления договора обеим сторонам необходимо лично обратиться в салон, заполнить и подписать акт приема-передачи прав и обязанностей.

Если при переоформлении договора одной из сторон является физическое лицо, то необходимо его личное присутствие либо личное присутствие его представителя с нотариально заверенной доверенностью.

«Смена владельца» предоставляется всем абонентам.
                    </p>
                </div>
                <h3>
                    <span>Доставка SIM-карты Почтой России</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                    </p>
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                    </ul>
                </div>
                <h3>
                    <span>Переход от другого оператора с сохранением номера</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                        mauris vel est.
                    </p>
                    <p>
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
