<%= _.template(require('./template/_header.html'))(data) %>

<main>
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="breadcrumb-item"><b>Поддержка</b></div>
            </div>
        </div>
    </section>
    <div class="container">
<!--        <h2 class="main-title">Поддержка</h2>-->
        <div class="row">
            <div class="col-auto">
                <a class="btn btn-primary appeal-btn" href="./appeals.html">
                    Мои заявки
                </a>
            </div>

            <div class="information-block-row col-9">
                <a class="information-block" href="./questions.html">
                    <h3 class="information-block-title">Частые вопросы</h3>
                    <div class="information-block_description">
                        <p class="information-block-text">Ознакомьтесь с ответами и распространёнными <br> ситуациями, прежде чем обращаться в поддержку.</p>
                    </div>
                    <div class="information-block-status"></div>
                </a>

                <a class="information-block" href="./helpfull.html">
                    <h3 class="information-block-title">Полезная информация</h3>
                    <div class="information-block_description">
                        <p class="information-block-text">Услуги, сервисы, бланки заявлений и наши рекомендации <br> для самостоятельного управления номером и тарифом.</p>
                    </div>
                </a>

                <a class="information-block" href="./feedback.html">
                    <h3 class="information-block-title">Форма обратной связи</h3>
                    <div class="information-block_description">
                        <p class="information-block-text">Если у вас остались вопросы,<br> оставьте заявку через форму обратной связи</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <section
            class="response modal fade show"
            role="dialog" tabindex="-1" style="display: block; padding-right: 17px;"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Личный кабинет</h5>
                    <a class="close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="feedback-item">
                        <input
                                type="text"
                                class="feedback-input"
                                placeholder="Логин"
                                style="width: 100%"
                        />
                    </div>
                    <div class="feedback-item">
                        <input
                                type="password"
                                class="feedback-input"
                                placeholder="Пароль"
                                style="width: 100%"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary">Войти</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </section>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
