<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <a class="breadcrumb-item" href="./index.html">Поддержка</a>
                <div class="breadcrumb-item">Частые вопросы</div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div id="accordion">
                <h3 class="accordion">
                    <span>Мой телефон поддерживает HD Voice?</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Как правило, все современные смартфоны поддерживают эту технологию. Если ваш телефон произведен в последние 5 лет и поддерживает работу в сети 3G, скорее всего он работает в режиме «высокой чёткости».
                    </p>
                </div>
                <h3>
                    <span>Куда мне обращаться, если возникнут проблемы при пользовании услугой?</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                        suscipit faucibus urna.
                    </p>
                </div>
                <h3>
                    <span>Технические неисправности оборудования</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                    </p>
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                    </ul>
                </div>
                <h3>
                    <span>Сколько подписок и опций на специальных условиях я могу подключить одновременно?</span>
                    <span class="icon icon_size_s arrow-down"></span>
                </h3>
                <div class="accordion-text">
                    <p>
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                        mauris vel est.
                    </p>
                    <p>
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
