.appeals {
  padding: 16px 0;

  & table {
    width: 100%;
    margin: 0 0 16px 0;
    border-spacing: 16px;
    //border-collapse: inherit;
  }

  & tr {
    border-bottom: 1px solid #e9ecef;
  }

  & td, th {
    padding: 16px 0 8px 0;
  }

  & .page-item.active .page-link{
    color: $title_color;
    background-color: #e9ecef;
    border-color: #e9ecef;
  }
}
