* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  body,
  html,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a,
  button,
  input, span, label {
    margin: 0; 
    padding: 0;
    border: none;

    font-family: "Gilroy", sans-serif, serif;
   // color: #ffffff;
    font-style: normal;
    font-weight: normal;
    text-decoration: none; 
    line-height: 1;
    background-color: transparent;
  }
  .text-color {
    color: #ffffff;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    @media (max-width: $pc-big) {
    }
    @media (max-width: $phone) and (orientation: portrait) {
      padding: 0;
    }
    @media (max-height: $phone) and (orientation: landscape){
      padding: 0;
    } 
    @media (max-height: $phone-height__small) and (orientation: landscape){
      padding: 0;
    } 
    @media (max-height: $phone-height__small) {  
      padding: 0;
  }
  }
  
  .first-slide {
    max-height: 900px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    @media (max-width: $phone) and (orientation: portrait) {
       height: calc(100vh);
    }
    @media (max-height: $phone) and (orientation: landscape){
      height: calc(100vh);
    } 
    @media (max-height: $phone-height__small) and (orientation: landscape){
      height: calc(100vh);
    } 
    @media (max-height: $phone-height__small) {  
      height: calc(100vh);
  }
  &.almira {
    max-height: unset;
    }
  }
   
  ul {
    list-style: none;
  }

  button {
  outline: none;
    &:focus{
      outline: none;
    }
  }
  .row {
    margin: 0;
  }

  h3 {
    font-weight: bold;
  }