.appeal {
    margin: 0 0 8px 0;
}

.feedback {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #dedede;
    &:hover {
        outline: 1px solid #e9ecef;
    }

    &-title {
        margin: 0 0 16px 0;
        font-size: 18px;
    }

    &-container {
        margin: 0 0 16px 0;
        font-size: 16px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 8px 0;
        font-size: 16px;
    }

    &-label {
        display: flex;
        margin: 0 16px 0 0;
        font-size: 16px;
        text-align: left;
        &.required:after {
            content: "*";
            display: block;
            color: red;
        }
    }

    &-input {
        width: 100%;
        padding: 4px;
        height: 28px;
        font-size: 16px;
        border: 1px solid #dedede;
        border-radius: 4px;
        background: white;
        color: $text_color;
        &:hover {
            outline: 1px solid #e9ecef;
        }
        &::-webkit-file-upload-button {
            color: $text_color;
        }
        &.error {
            border: 1px solid red;
        }
        &[type=file] {
            border: none;
        }
    }

    &-textarea {
        font-size: 16px;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-arrow {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #dedede;
        color: $text_color;
        transition: $transition;
        &:hover {
            background-color: #e9ecef;
        }   
    }
}

.bi-star {
    margin: 0 8px 16px 0;
    &.active {
        background-color: yellow;
    }
    &:hover {
        background-color: yellow;
    }
}

.feedback-description {
    margin: 0 0 16px 0;
}