.icon {
  width: 24px;
  height: 24px;

  &_size_xl {
    width: 20px;
    height: 20px;
  }
  &_size_xl {
    width: 16px;
    height: 16px;
  }
  &_size_s {
    width: 12px;
    height: 12px;
  }
  &_size_xs {
    width: 8px;
    height: 8px;
  }
}

.arrow-down {
  @include svg-as-mask("../files/icon/arrow/arrow_down.svg");
  @include standard-icon-image;
}
.search {
  @include svg-as-mask("../files/icon/common/search.svg");
  @include standard-icon-image;
}
