body {
  min-height: 100vh;
}

main {
  margin: 77px 0 0 0;
  min-height: calc(100vh - 210px);
}

.main {
  padding: 20px 0;
}

.main-title {
  font-size: 18px;
  color: $title_color;
}

a:hover {
  text-decoration: none !important;
}

.row_spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.breadcrumb-item {
  color: #212529;
}
