.information-block {
  position: relative;
  padding: 12px;
  margin: 8px 8px 8px 0;
  width: 70vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 8px;
  transition: $transition;
  max-width: 100%;

  &-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-size: 16px;
    color: $title_color;
    white-space: nowrap;
  }

  &-text {
    padding: 2px 0;
    font-size: 16px;
    color: $title_color;
    text-align: center;
    line-height: 1.5;
  }

  &_description {
    margin: 4px 0 0 0;
    overflow: hidden;
    transition: $transition;
  }
}
