// .welcome в файле feedback.scss
.accordion {

}

.accordion-text {
  padding: 8px;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin: 0 0 8px 0;
}

.ui-accordion-header-active {

  & .arrow-down {
    transform: rotate(180deg);
  }
}
